.favorite-item{
    border: 8px solid rgb(71, 68, 68);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 20px;
    background-color: #26252565;
    margin-bottom: 30px;
    background-image: url(http://transparenttextures.com/patterns/woven.png);
}

.favorite-item p{
    color: #999592;
    font-weight: 700;
    font-size: 20px;
    margin: 12px 0 12px 0px;
}
img{
    border-radius: 30px;
}

.favorite-item button{
    background-color: #cd244038;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    padding: 12px 40px;
}